<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Jerome's Pizza</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <div class="row">
        <div class="large-3 columns">
          <h1><img src="https://lh3.googleusercontent.com/heERrxiNaxqha9bzD3l5lZ4bQy4wftiqv1Ft00lhPKw=w614-h225-no"/></h1>
        </div>
        <div class="large-9 columns">
          <ul class="right button-group">
          <li><%= link_to "Home", {:action => "index", :controller => "app_home"}, :class => "button" %> </li>
          <li><%= link_to "Our menu", {:action => "menu", :controller => "ordering"}, :class => "button" %></li>
          <li><%= link_to "Order", {:action => "orders", :controller => "ordering"}, :class => "button" %></li>
          <li><%= link_to "About Us", {:controller => "app_home", :action => "about_us"}, :class => "button" %></li>
          <% if session[:logged_in] %>
          <li><%= link_to "CMS", {:controller => "Cms", :action => "metrics"}, :class => "button" %></li>
          <% end %>
          </ul>
         </div>
       </div>

    <%= yield %>


     <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><%= link_to "Home", {:action => "index", :controller => "app_home"} %> </li>
                <li><%= link_to "Our menu", {:action => "menu", :controller => "ordering"} %></li>
                <li><%= link_to "Order", {:action => "orders", :controller => "ordering"} %></li>
                <li><%= link_to "About Us", {:controller => "app_home", :action => "about_us"} %></li>
                <% if session[:logged_in] %>
                <li><%= link_to "Logout", {:action => "logout", :controller => "Cms"} %></li>
                <% else %>
                <li><%= link_to "Login", {:action => "index", :controller => "Cms"} %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div> 
      </footer>
  </body>
</html>
